/* main page CSS */
.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  /* height: 100%; */
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 35px;
  padding: 20px 0px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 70%; 
  height: 40%;
}

#project-description {
  font-size: 20px;
  width: 80%;
}

/* data fields  */
.data-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#categories-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#hover-tooltip {
  position: absolute; 
  opacity: 0;
  padding: 3px 7px;
  background-color: #f2e6b1;
  border: solid 1px black;
  color: black;
  border-radius: 4px;
}

.right-data-container {
  display:flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
}


/* footer CSS */
.footer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  width: -webkit-fill-available;
  height: 50px;
  background-color: #67727e;
  padding: 0px 20px;
}

.footerDiv {
  display: flex;
  align-items: center;
  height: inherit;
}
 
.footerDiv img {
  background-color: none;
  max-width: 25px;
  max-height: 25px;
  padding: 0px 10px;
}

.world-bank-container a {
  color: #BABABA;
  padding: 0px 20px;
}

