.world-map-container {
  height: 100vh;
  width: 600px;
}
.world-map-container body {
  margin: 0px;
  overflow: hidden;
  background-color: #2A2C39;
}

.world-map-container path {
  fill: darkgrey;
  stroke-opacity: 50%;
  stroke: black;
}

#world-map {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.country-on{
  fill: yellow;   /* highlight colour for selected country */
}
.countryLabel{
  display: none;   /* hide all country labels by default */
}
.countryName{
  fill: #FFFAFF;   /* country label text colour */
}